{% extends "base.html" %}

{% block title %}वडा कार्यालय लगइन | माछापुच्छ्रे गाउँपालिका{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-md-5">


<div class="card">

<div class="card-body p-5">


<h3 class="text-center text-success mb-4">

🏛️ वडा कार्यालय लगइन

</h3>


{% if error %}

<div class="alert alert-danger text-center">

{{ error }}

{% if attempts_left %}

<div class="small mt-1">

{{ attempts_left }} पटक बाँकी

</div>

{% endif %}

</div>

{% endif %}


<form method="POST">

{% csrf_token %}


<label class="fw-bold">
Username
</label>

<input
type="text"
name="username"
class="form-control mb-3"
autofocus
required>


<label class="fw-bold">
Password
</label>

<input
type="password"
name="password"
class="form-control mb-4"
required>


<button
type="submit"
class="btn btn-success w-100">

लगइन गर्नुहोस्

</button>


</form>


</div>

</div>


</div>

</div>

</div>

{% endblock %}
